.exteriorCard {
  width: 100%;
  height: 100%;
  background: url(./dark-background.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
  content: "Photo by <a href='https://unsplash.com/@r3dmax?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText'>Jonatan Pie</a> on <a href='https://unsplash.com/backgrounds/colors/dark?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText'>Unsplash</a>";
}

.interiorCard {
  width: 100%;
  height: 90%;
  background-color: blanchedalmond;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
}

.interiorCircle {
  background: url(./dark-background.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 750px;
  height: 750px;
  border-radius: 50%;
  color: white;
}

.recepientName {
  font-size: xx-large;
  font-family: "Hahmlet";
}

.recepientQuestion {
  font-size: 50pt;
  font-family: "Andada Pro", Times, serif;
}

button.buttonYes {
  background-color: orangered;
  width: 170px;
  height: 80px;
  border-radius: 50px;
  font-size: 20pt;
  font-family: "BioRhyme";
  color: aliceblue;
}

@media only screen and (max-width: 1200px) {
  .interiorCircle {
    width: 600px;
    height: 600px;
  }
}

@media only screen and (max-width: 600px) {
  .interiorCard {
    margin: 17px;
    height: 96%;
  }

  .interiorCircle {
    width: 310px;
    height: 310px;
  }

  .recepientName {
    font-size: large;
  }

  .recepientQuestion {
    font-size: 35pt;
  }

  button.buttonYes {
    width: 110px;
    height: 60px;
    font-size: 15pt;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
